// Load fonts



// **Sprites
$spacingDefault: 20px

// PNG sprites with padding
// $icons: sprite-map("icons/*.png", $spacing: $spacingDefault)
// %icons
//   background: $icons no-repeat

// PNG sprites for ratio 2 with padding
// $icons-2x: sprite-map("icons@2x/*.png", $spacing: $spacingDefault)
// %icons-2x
//   background: $icons-2x no-repeat

// SVG folder name
// $svg-folder: "svg"

// **Brief
$baseFontFamily: $Arial
$baseFontSize: $base-font-size
$baseFontColor: #444
$baseLinkColor: #287fc3

$standard: 960px
$footerHeight: 50px

// non in rwd
html
  min-width: $standard

body
  @extend %relative
  // overflow-x: hidden
  min-height: 100%
  padding-bottom: $footerHeight
  background-color: #FFF
  +shFont($baseFontSize, $baseFontFamily, 1, $baseFontColor)
  // +mq320
  //  padding-bottom: 0

.container
  +center($standard)
  // +mq320
  //   padding: 0 1em

.header
  @extend %relative

.footer
  @extend .full-width
  +pos("a", false, false, 0, 0, 2)
  height: $footerHeight
  // +mq320
  //   position: relative
  //   height: auto

// Icons
// $iconsArr: none
// @each $icon in $iconsArr
//   .#{$icon}-icon
//     +s(#{$icon})